TESTNET=true
INTERVAL=15m
PORT=5000

BINANCE_API_KEY=w78l7DpKmMfQnt7tON01m6UzPQXNHW4243oaQ8xVEAgOJQxfJH5WnYSnNN7CBqGK
BINANCE_API_SECRET=kNG1NrSLZB20alfvmUoSres4Q6Kt1iFLk3aW4ZWyPjmlJr9iyn6CNShG1kKiYhUh

# Optional: leave blank to disable Supabase
SUPABASE_URL=
SUPABASE_KEY=
